*{
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 50%;
    margin: 100px auto;
    background-color: aliceblue;
}
.caja-input{
    width: 35px ;
}
td p{
    text-align: center;
    width: 15em;
}
.button{
    width: 8em;
    margin: 20px;
    border-radius: 15%;
}
h3{
    padding-left: 20px;
}
.resp{
    font-style: italic;
}
#enunciado{
    text-align: center;
    padding-left: 20px;
}


